.navbar {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.navbar div {
  margin-right: 20px;
}
.navbar .column-left {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.navbar .column-right {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.navigation {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.navigation li {
  padding: 5px;
  margin: 0 27px;
}
.navigation li a {
  width: 100%;
  height: 100%;
}
.navigation li a:hover {
  color: #000;
}
.navbar-options {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.navbar-options li {
  padding: 5px;
  margin: 0 27px;
}
.slider-items {
  position: relative;
  color: #fff;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 30vw;
  overflow: hidden;
}
.slider-items img {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
}
.slider-items .card-text {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}
.slider-items .card-text .border {
  height: 2px;
  width: 66px;
  background: #fff;
  margin-bottom: 24px;
}
.slider-items .card-text h2 {
  text-transform: uppercase;
  font-size: 24px;
  margin-bottom: 21px;
}
.slider-items .card-text h2 span {
  font-size: 30px;
}
.slider-items .card-text span {
  text-transform: uppercase;
  font-size: 14px;
}
body {
  font-family: 'Open Sans', sans-serif;
  color: #888888;
  margin: 0;
}
.container {
  max-width: 1250px;
  margin: 0 auto;
}
a {
  text-decoration: none;
  color: #888888;
}
li {
  list-style: none;
}
h1,
h2,
h3,
h4 {
  margin: 0;
}

/*# sourceMappingURL=main-dist.css.map */